<%- include('../layouts/with-header/header.ejs') %>
<% if (vacancies.length === 0) { %>
  <h2 class="placeholder">Нет доступных вакансий</h2>
<% } else { %>
  <div class="page">
    <div class='list' id="vacancy-list">
      <% vacancies.forEach(vacancy => { %>
        <div data-id="<%= vacancy.id %>" class='vacancy item item_hoverable _border_sub'>
          <h3 class='item__title'><%= vacancy.title %></h3>
          <span><%= vacancy.company %></span>
          <span><%= vacancy.city %></span>
          <span><%= vacancy.employment %></span>
          <span>Опыт работы:
            <% if (vacancy.experienceFrom !== null) { %>
              от <%= vacancy.experienceFrom %>
            <% } %>
            <% if (vacancy.experienceTo !== null) { %>
              до <%= vacancy.experienceTo %>
            <% } %>
            <% if (vacancy.experienceFrom === null && vacancy.experienceTo === null) { %>
              не указано
            <% } %>
          </span>
          <span>Оклад:
            <% if (vacancy.salaryFrom !== null) { %>
             от <%= vacancy.salaryFrom %>
            <% } %>
            <% if (vacancy.salaryTo !== null) { %>
              до <%= vacancy.salaryTo %>
             <% } %>
             <% if (vacancy.salaryFrom === null && vacancy.salaryTo === null) { %>
              не указано  
             <% } %>
          </span>
          <div class='item__buttons'>
            <button class='button button_theme_positive'>
              Откликнуться
            </button>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
<% } %>
<script>
  $('.vacancy').on('click', function() {
    const vacancyId = $(this).data('id');
    window.location.href = 'vacancies/' + vacancyId;
  });
</script>
<%- include('../layouts/with-header/footer.ejs') %>